<div class="container mt-5">
    <div class="text-center" *ngIf="!registerMode" [@slideInOut]>
        <h1>Encontre seu <strong>Match</strong></h1>
        <p class="lead">Venha também dar e receber seus <strong>Matches</strong>... tudo que você precisa é se
            cadastrar! </p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mr-2" (click)="registerToggler($event)">Cadastre-se</button>
            <button class="btn btn-outline-primary btn-lg mr-2">Saiba mais</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center" *ngIf="registerMode" [@slideInOut]>
        <div class="col-4">
            <p>Cadastre-se</p>
        </div>
    </div>
</div>