<ng-container>
    <div class="my-3">
        <button (click)="get404Error()" class="btn btn-outline-primary mx-2">Testar Erro 404</button>
        <button (click)="get400Error()" class="btn btn-outline-primary mx-2">Testar Erro 400</button>
        <button (click)="get500Error()" class="btn btn-outline-primary mx-2">Testar Erro 500</button>
        <button (click)="get401Error()" class="btn btn-outline-primary mx-2">Testar Erro 401</button>
        <button (click)="get400ValidationError()" class="btn btn-outline-primary mx-2">Testar 400 Validação</button>
    </div>

</ng-container>